<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()"
      *ngIf="mobileQuery.matches"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a href="" *ngIf="!mobileQuery.matches">
      <img
        src="../../../../assets/images/logo-white.png"
        alt=""
        style="height: 56px"
      />
    </a>
    <span class="app-name" *ngIf="!mobileQuery.matches"
      >Bangkok Engineering - Station Log
    </span>
    <span class="app-name" *ngIf="mobileQuery.matches">Station Log </span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches"
      class="sidenav"
      fixedTopGap="56"
      #sidenav
    >
      <mat-nav-list>
        <p>Inside Drawer</p>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
