<form [formGroup]="spareMovementForm" (submit)="onCreateSpareMovement()">
  <mat-card fxLayout="row wrap" fxLayoutGap="1rem grid">
    <mat-form-field
      appearance="outline"
      fxFlex="25%"
      fxFlex.sm="50%"
      fxFlex.xs="100%"
    >
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="datePicker"
        formControlName="createdDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="25%">
      <mat-label>Airline</mat-label>
      <input matInput type="text" formControlName="airline" />
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="25%">
      <mat-label>Flt No.</mat-label>
      <input matInput type="text" formControlName="fltno" />
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="25%">
      <mat-label>A/C Reg.</mat-label>
      <input matInput type="text" formControlName="acreg" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Part No.</mat-label>
      <input matInput type="text" formControlName="partno" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="desc" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Serial No.</mat-label>
      <input matInput type="text" formControlName="serno" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>GRN</mat-label>
      <input matInput type="text" formControlName="grn" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Qty</mat-label>
      <input matInput type="text" formControlName="qty" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Store</mat-label>
      <input matInput type="text" formControlName="store" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </mat-card>
</form>
