<mat-card>
  <p>spare-movement-form</p>
  <form [formGroup]="spareMovementForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Airline</mat-label>
        <mat-select formControlName="airline">
          <mat-option *ngFor="let airline of airlines" [value]="airline">
            {{ airline }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Flt No.</mat-label>
        <input
          matInput
          formControlName="fltno"
          (input)="forceUpperCase('fltno', $event)"
        />
        <mat-error>Flt No. is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>A/C Reg.</mat-label>
        <input
          matInput
          formControlName="acreg"
          (input)="forceUpperCase('acreg', $event)"
        />
        <mat-error>A/C Reg. is required.</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Part No.</mat-label>
        <input
          matInput
          formControlName="part"
          (input)="forceUpperCase('part', $event)"
        />
        <mat-error>Part No. is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input
          matInput
          formControlName="desc"
          (input)="forceUpperCase('desc', $event)"
        />
        <mat-error>Description is required.</mat-error>
      </mat-form-field>
      <mat-radio-group
        formControlName="type"
        name="type"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="1rem"
      >
        <label for="type">Type</label>
        <mat-radio-button *ngFor="let type of types" [value]="type">
          {{ type }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
      <mat-form-field appearance="outline" fxFlex="grow">
        <mat-label>Serial No.</mat-label>
        <input
          matInput
          formControlName="serial"
          (input)="forceUpperCase('serial', $event)"
        />
        <mat-error>Serial No. is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="grow">
        <mat-label>GRN</mat-label>
        <input matInput formControlName="grn" maxlength="10" />
        <mat-error *ngIf="grn.hasError('required')">GRN is required.</mat-error>
        <mat-error *ngIf="grn.hasError('minlength')"
          >GRN must contain 10 digits.</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="grow">
        <mat-label>Qty.</mat-label>
        <input matInput formControlName="qty" type="number" />
        <mat-error *ngIf="qty.hasError('required')">QTY is required.</mat-error>
        <mat-error *ngIf="qty.hasError('min')">Qty must more than 0.</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
      <mat-form-field appearance="outline" fxFlex="grow">
        <mat-label>Store</mat-label>
        <mat-select formControlName="store">
          <mat-option *ngFor="let store of stores" [value]="store">
            {{ store }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="grow">
        <mat-label>Used By</mat-label>
        <mat-select formControlName="usedBy" name="usedBy">
          <mat-option *ngFor="let name of names" [value]="name">
            {{ name }}
          </mat-option>
        </mat-select>
        <mat-error>Used by is required.</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!spareMovementForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
